*{
    margin: 0;
    padding: 0;
}

:root{
    --primary-color:#f3f5f9;
    --secondary-color:#212121;
}

.dark-theme{
    --primary-color:#000106;
    --secondary-color:#fff;
}

.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background: var(--primary-color);
    font-family: sans-serif;
}
    /*SPIRAL LOGO*/
.logo{
    display: flex;
    width: 50px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 1.2s ease-in-out;
}
.logo:hover{
    transform: rotate(720deg);
}
#main-menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav{
    display: flex;
    margin: 10px;
}
ul{
    display: flex;
    margin-top: 13px;
    font-size: 17px;
    list-style: none;
}
li{
    margin: 10px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: #ba260c;
}
.info{
    margin-left: 8%;
    margin-top: 15%;
}
.info h1{
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
span{
    color: #ba260c;
}
.info p{
    color:var(--secondary-color);
    line-height: 22px;
    margin-bottom: 20px;
}
.info a{
    background-color: var(--secondary-color);
    padding: 10px 18px;
    text-decoration: none;
    color:var(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.info a:hover{
    background-color: #2e2e2e;
    padding: 10px 18px;
    text-decoration: none;
    color:#f3f5f9;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;

}
.img-box{
    width: 30%;
    height: 40%;
    position: absolute;
    bottom: 0;
    right: 10px;
}
/* mai trebuie sa lucrez la tranzitii */
.img-box img{
    height: 100%;
    position: absolute;
    left: 0%;
    bottom: 0;
    transition: transform 3s ease-in-out;
}
 /*BACKGROUND SPIRAL*/
.img-box .back-img{
    /* position: fixed; */
    display:none;
    justify-content: center;
    align-items: center;
    size: 50%;
    /* margin-left: 40vh;
    margin-top: 10vh;
    height: 90vh;
    width: 90vh; */
}
.img-box:hover .back-img{
    transform: rotate(3600deg);
}

  /* ICONS */

.social-links{
    width: 100%;
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.social-links a{
    color:var(--secondary-color);
    font-size: 100px;
    
}
.social-links a:hover{
    color:#ba260c
}
  /*VIDEOS*/
 
.videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  /*VIDEOS DESCRIPTIONS*/
h1 {
    color: var(--secondary-color);
}
p {
    color: var(--secondary-color);
}
